---
// src/components/blog/compose/PostSources/index.astro
import css from "./PostSources.css?url";

interface Source {
  label: string;
  url: string;
}

interface PostSourcesProps {
  sources?: Source[];
}

const { sources = [] } = Astro.props as PostSourcesProps;
const show = sources.length > 0;
---
<link rel="stylesheet" href={css} />

{show && (
  <section
    class="post__sources"
    aria-label="Sources"
    data-section="post-sources"
  >
    <div class="post__sources-inner">
      <h2 class="post__sources-title h2 section-title">
        Sources
      </h2>

      <ul class="post__sources-list">
        {sources.map((s) => (
          <li class="post__sources-item">
            <a
              href={s.url}
              rel="nofollow noopener"
              target="_blank"
              class="post__sources-link"
            >
              {s.label}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </section>
)}
