---
// src/components/blog/compose/PostTags/index.astro

import css from "./PostTags.css?url";
import type { PostTagsProps } from "./types";

const { tags = [] } = Astro.props as PostTagsProps;

const hasTags = Array.isArray(tags) && tags.length > 0;
---
<link rel="stylesheet" href={css} />

{hasTags && (
  <section
    class="post__tagsSection"
    aria-labelledby="post-tags-title"
  >
    <h2 id="post-tags-title" class="post__tagsTitle h6">
      Tagged with
    </h2>

    <ul class="post__tags">
      {tags.map((tag) => (
        <li class="post__tagsItem">
          <a
            class="post__tag"
            href={tag.href}
            rel="tag"
            itemprop="keywords"
          >
            {tag.label}
          </a>
        </li>
      ))}
    </ul>
  </section>
)}
